<!DOCTYPE html>

{% load staticfiles %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elyor's News</title>

      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">

      <link rel="stylesheet" href="{% static "css/elyornews.css" %}">

</head>

<body>


 <div class="container">
    <div class="jumbotron" align="center">
        <div class="container">
             <h1 class="display-4">Welcome to ELYOR NEWS PORTAL</h1>

            <a class="btn btn-primary btn-lg" href="/sport" role="button">Sport News</a>&nbsp&nbsp;

            <a class="btn btn-primary btn-lg" href="/music" role="button">Music News</a>&nbsp&nbsp;

            <a class="btn btn-primary btn-lg" href="/media" role="button">Media News</a>

        </div>
    </div>
 </div>

    <h2> {{ date }}</h2>



</body>
</html>





























